@import "reset.css";

:root{
  --btn-primary: #8959D5;
  --btn-primary-hover: #774DD6;
  --btn-primary-active: #6840D7;
  --btn-primary-disabled: #C0C0C0;
  --stepper-circle-active: #ce7ffc;
}

body{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  background:var(--btn-primary);
  &:hover{
    background:var(--btn-primary-hover);
    cursor: pointer;
  }
  &:active{
    background:var(--btn-primary-active);
  }
  color: white;
  padding: .5rem 1rem;
}



.actions-section{
  display: flex;
  flex-wrap:wrap ;
  gap: .5rem;
  align-items: center;
  margin-top: 1rem;
}

.field-container{
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
  & input{
    height: 1.5rem;
  }
}

.form-with-stepper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.panel-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.stepper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  & .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btn-primary-disabled);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    &:hover{
      font-weight: 800;
    }
    &.visited{
      background-color: var(--btn-primary);
    }
    &.active{
      background-color: var(--stepper-circle-active);
    }
  }

}

.final-container{
  height: 90%;
  & .results{
    height: 80%;
    overflow-y: scroll;
  }
  & h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.hide{
  display: none;
}

.start-btn{
  margin-top: .5rem;
}
